@import "https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap";
@import "https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

:root {
  --primary-color: rgb(51, 51, 51);
  --secondary-color: rgb(242, 242, 242);
  --font-family: "Rubik", sans-serif;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(3) translateY(0) rotate(0);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes blink {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
}

#intro-bg div {
  position: absolute;
  width: 62px;
  height: 62px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--primary-color);
}

#intro-bg div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 6s linear infinite;
}
#intro-bg div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
#intro-bg div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 8s linear infinite;
}
#intro-bg div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 15s linear infinite;
}
#intro-bg div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
#intro-bg div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
#intro-bg div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
#intro-bg div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
#intro-bg div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
#intro-bg div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

#prevBtn {
  position: absolute;
  top: 55%;
  left: -5%;
  z-index: 19;
  font-size: 50px;
  color: var(--primary-color);
  cursor: pointer;
  transform: rotate(-3deg);
  text-shadow: 1px 1px 3px var(--secondary-color);
}

#nextBtn {
  position: absolute;
  right: -3%;
  top: 44%;
  z-index: 19;
  font-size: 50px;
  color: var(--primary-color);
  cursor: pointer;
  transform: rotate(-3deg);
  text-shadow: 1px 1px 3px var(--secondary-color);
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90vh;
  align-items: center;
}

.contact-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vh;
}

.resume {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.resume a {
  font-size: 180px;
}
.resume a:hover {
  animation: shake 0.5s;
}

.resume h4 {
  position: relative;
  transform: rotate(-15deg);
  right: 80px;
  top: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 2px 2px 1px var(--primary-color);
}

.all-contact-buttons {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.all-contact-buttons li {
  list-style: none;
  font-size: 55px;
}

hr {
  background-color: var(--primary-color);
  color: var(--primary-color);
  box-shadow: 0px 0px 3px var(--primary-color);
  height: 3px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  width: 90%;
  display: flex;
  margin-left: 5%;
  border-radius: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

.intro {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
  box-shadow: 0px 0px 5px var(--primary-color);
}

.intro h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 4rem;
  font-family: "Fredoka One", cursive;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  height: 14rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  width: 30rem;
  align-items: center;
  justify-content: center;
  padding: 22px 0px;
  box-shadow: 0px 0px 15px var(--primary-color);
  transition: 0.5s;
  z-index: 1;
}
.about-container:hover {
  transform: translateY(-10px);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: 1.5s;
}

#bio {
  opacity: 0;
  transition: 1.5s;
  line-height: 30px;
  font-weight: 900;
  text-align: justify;
  width: 90%;
  margin-top: 2rem;
}

#bio.show {
  opacity: 1;
}

#profile-pic {
  height: 14rem;
  width: 14rem;
  border-radius: 15px;
  filter: brightness(0.9);
  box-shadow: 1px 1px 15px var(--primary-color);
  transition: 1.5s;
  opacity: 0;
}

#profile-pic.show {
  opacity: 1;
}

#profile-pic:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}

#skills {
  border: 1px solid var(--secondary-color);
}
#skills img {
  height: 65px;
  transition: 1s;
  filter: grayscale(100%);
}
#skills img:hover {
  transform: scale(1.7) rotate(5deg) translate(0px, -10px);
  filter: grayscale(0%);
  box-shadow: 0px 0px 15px var(--primary-color);
  transition: 1s;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.skills-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.skills-container div img {
  border: 1px solid var(--primary-color);
  background-color: #fff;
  border-radius: 50px;
  width: 4rem;
  padding: 5px;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  text-shadow: 0px 0px 2px var(--primary-color);
}

#front-end-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 25rem;
  padding: 50px;
  margin: 4rem;
  box-shadow: 0px 0px 15px var(--primary-color);
  border-radius: 5px;
  transition: 1s;
  color: var(--secondary-color);
}
#front-end-card:hover {
  box-shadow: none !important;
  transition: 1s;
  color: var(--primary-color);
}

#back-end-card {
  display: grid;
  padding: 50px 80px;
  margin: 4rem;
  box-shadow: 0px 0px 15px var(--primary-color);
  border-radius: 5px;
  transition: 1s;
  color: var(--secondary-color);
}
#back-end-card:hover {
  box-shadow: none !important;
  transition: 1s;
  color: var(--primary-color);
}

#misc-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 25rem;
  padding: 50px;
  margin: 4rem;
  box-shadow: 0px 0px 15px var(--primary-color);
  border-radius: 5px;
  transition: 1s;
  color: var(--secondary-color);
}
#misc-card:hover {
  box-shadow: none !important;
  transition: 1s;
  color: var(--primary-color);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-shadow: 2px 2px 20px var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.projects h1,
.contact h1,
.skills h1 {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 2px var(--primary-color);
  width: 50%;
}
.projects h1:before,
.contact h1:before,
.skills h1:before {
  align-self: center;
  content: "";
  border-top: 2px solid;
  margin: 0 30px 0 0;
  flex: 1 0 10px;
  box-shadow: 0px 0px 2px var(--primary-color);
}
.projects h1:after,
.contact h1:after,
.skills h1:after {
  align-self: center;
  content: "";
  border-top: 2px solid;
  margin: 0 30px 0 0;
  flex: 1 0 10px;
  box-shadow: 0px 0px 2px var(--primary-color);
  margin: 0 0 0 30px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

.split {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  justify-content: center;
}

.carousel-buttons {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  position: relative;
}

#carousel-container {
  display: flex;
  height: 500px;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 2rem;
  max-width: 750px;
  border: 15px solid #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 20px var(--primary-color);
  overflow: hidden;
  transform: rotate(-3deg);
  text-align: center;
}

.carousel-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 750px;
  text-align: center;
  color: var(--secondary-color);
}

.carousel-card h2,
.carousel-card h5,
.carousel-card p {
  position: absolute;
  text-align: left;
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color),
    -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

.carousel-card h2 {
  font-size: 2rem;
  bottom: 7rem;
  left: 1rem;
}

.carousel-card h5 {
  font-size: 1rem;
  bottom: 1.5rem;
  right: 3rem;
}

.carousel-card p {
  font-weight: 900;
  bottom: 4rem;
  left: 1rem;
  width: 90%;
}

.carousel-card img {
  filter: blur(1px) brightness(0.7);
}

.carousel-button {
  cursor: pointer;
  font-weight: 900;
  position: absolute;
  padding: 0.4em 1em;
  font-size: 1.1em;
  background-color: var(--secondary-color);
  opacity: 0.9;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  bottom: 1rem;
}

.carousel-button.one {
  left: 1rem;
}

.carousel-button.two {
  left: 8rem;
}

.carousel-button.one:hover,
.carousel-button.two:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.projects-github {
  margin-top: 50px;
  margin-left: 200px;
  width: 200px;
}
.projects-github p {
  font-size: 15px;
  text-shadow: 1px 1px 3px var(--primary-color);
  transform: rotate(15deg);
}
.projects-github i {
  margin: 80px;
  transform: scale(8) rotate(5deg);
  text-shadow: 1px 1px 20px var(--primary-color);
  cursor: pointer;
  transition: 0.5s;
}
.projects-github i:hover {
  transform: scale(11);
  text-shadow: 1px 1px 3px var(--primary-color);
  transition: 0.5s;
}

@media screen and (max-width: 1480px) {
  .links {
    display: grid;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .links {
    display: grid;
    margin-right: 2rem;
  }

  .projects-github {
    margin-left: 0px;
  }
}
@media screen and (max-width: 900px) {
  .links {
    display: grid;
  }

  #prevBtn {
    left: 0px;
  }

  #nextBtn {
    right: 1px;
  }

  .left {
    max-width: 100%;
  }

  .right {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .intro h1 {
    font-size: 50px;
    word-wrap: break-word;
  }

  .links {
    justify-content: space-around !important;
    font-size: 80%;
    max-width: 100%;
  }

  .about-container {
    width: 100%;
  }

  .about p {
    width: 100%;
  }

  .skills h1 {
    width: 70%;
    margin-left: 1rem;
  }

  .projects h1 {
    width: 70%;
    margin-left: 1rem;
  }

  .skills-container {
    max-width: 100%;
    justify-content: space-around;
  }

  #front-end-card {
    max-width: 100%;
    margin-top: 10px;
    margin: 0px;
  }

  #back-end-card {
    justify-content: center;
    max-width: 100%;
  }

  #back-end h3 {
    margin-top: 30px;
  }

  #misc {
    max-width: 100%;
  }

  #misc-card {
    justify-content: center;
    align-items: center;
    margin: 0px;
    max-width: 100%;
  }

  .email a {
    font-size: 30px;
  }
  .email h4 {
    right: 150px;
  }

  .right h4 {
    min-width: 115px;
  }

  .carousel-card h2 {
    bottom: 25rem;
  }
  .carousel-card h5 {
    bottom: 22rem;
  }
  .carousel-card p {
    width: 35%;
  }

  footer {
    margin: auto;
    width: 80%;
  }
}
.container {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.dark {
  --primary-color: rgb(242, 242, 242);
  --secondary-color: rgb(51, 51, 51);
  --theme-color: linear-gradient(to right, rgb(67, 67, 67) 0%, #000 100%);
}

.logo {
  font-size: 1.6rem;
  background-color: transparent;
  position: fixed;
  margin: 29px 40px;
  cursor: pointer;
  transition: 1s;
  z-index: 15;
}
.logo:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.nav-show {
  right: 0;
  margin: 23px 40px;
  font-size: 2.5rem;
  background-color: transparent;
  position: fixed;
  cursor: pointer;
  transition: 0.5s;
  z-index: 15;
}
.nav-show:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.nav-hide {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 30px;
}

.nav-hide:hover {
  transform: scale(1.1);
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 20;
  background-color: var(--secondary-color);
  transition: 1s;
  box-shadow: 1px 1px 6px var(--primary-color);
  filter: opacity(95%);
}
.navigation ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul li a:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 3px var(--primary-color);
}

.links {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 7% 7%;
  align-items: center;
  justify-content: end;
  margin-top: 3vh;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

#theme-toggle {
  cursor: pointer;
  font-size: 1.8rem;
  float: right;
}
#theme-toggle:hover {
  color: var(--secondary-color);
  text-shadow: 0px 0px 3px var(--primary-color);
}

#home {
  cursor: pointer;
}

.navigation.hidden {
  transform: translate(100%);
  transition: 0.3s;
}

#insertion {
  animation: blink 1s linear infinite;
}
