@import "https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap";
@import "https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

:root {
  --primary-color: rgb(51, 51, 51);
  --secondary-color: rgb(242, 242, 242);
  --font-family: "Rubik", sans-serif;
}

#intro-bg div {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--primary-color);
}

#intro-bg div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 6s linear infinite;
}
#intro-bg div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
#intro-bg div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 8s linear infinite;
}
#intro-bg div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 15s linear infinite;
}
#intro-bg div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
#intro-bg div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
#intro-bg div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
#intro-bg div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
#intro-bg div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
#intro-bg div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

#prevBtn,
#nextBtn {
  position: absolute;
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: 1s;
}

#prevBtn {
  top: 55%;
  left: -5%;
}

#nextBtn {
  right: -3%;
  top: 44%;
}

#nextBtn:hover,
#prevBtn:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.contact-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vh;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.resume a {
  font-size: 180px;
}
.resume a:hover {
  animation: shake 0.5s;
}

.resume h4 {
  position: relative;
  transform: rotate(-15deg);
  right: 80px;
  top: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 2px 2px 1px var(--primary-color);
}

.all-contact-buttons {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.all-contact-buttons li {
  list-style: none;
  font-size: 55px;
}

hr {
  background-color: var(--primary-color);
  color: var(--primary-color);
  box-shadow: 0px 0px 2px var(--primary-color);
  height: 2px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  width: 50%;
  margin: 2rem auto 0 auto;
  border-radius: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

.intro {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
}

.intro-container {
  width: 30vw;
  padding: 5rem;
}

.intro-container h1 {
  font-size: 4rem;
  font-family: "Fredoka One";
  margin-bottom: 1rem;
}

#bio {
  opacity: 0;
  transition: 1s;
  line-height: 30px;
  font-size: 1.1rem;
  text-align: justify;
}

#bio.show {
  opacity: 1;
}

#profile-pic {
  height: 10rem;
  width: 10rem;
  border-radius: 15px;
  filter: brightness(0.9);
  transition: 1.5s;
  opacity: 0;
  float: right;
  margin-left: 1rem;
}

#profile-pic.show {
  opacity: 0.9;
}

#profile-pic:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  color: var(--secondary-color);
  transition: 1s;
}

.skills-container:hover {
  transition: 1s;
  color: var(--primary-color);
}

.skills-container img {
  border: 1px solid var(--primary-color);
  background-color: #fff;
  border-radius: 50px;
  width: 5rem;
  padding: 5px;
  height: 5rem;
  transition: 1s;
  filter: grayscale(100%);
}

.skills-container img:hover {
  transform: scale(1.7) rotate(5deg) translate(0px, -10px);
  filter: grayscale(0%);
  box-shadow: 0px 0px 15px var(--primary-color);
  transition: 1s;
}

#front-end-row,
#back-end-row,
#misc-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#front-end-row img {
  width: 6rem;
  height: 6rem;
}

.skills-container .skill {
  padding: 0.5rem 1rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.projects h1,
.contact h1,
.skills h1 {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 2px var(--primary-color);
  width: 50%;
}
.projects h1:before,
.contact h1:before,
.skills h1:before {
  align-self: center;
  content: "";
  border-top: 2px solid;
  margin: 0 30px 0 0;
  flex: 1 0 10px;
  box-shadow: 0px 0px 2px var(--primary-color);
}
.projects h1:after,
.contact h1:after,
.skills h1:after {
  align-self: center;
  content: "";
  border-top: 2px solid;
  margin: 0 30px 0 0;
  flex: 1 0 10px;
  box-shadow: 0px 0px 2px var(--primary-color);
  margin: 0 0 0 30px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

.projects-container {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  position: relative;
}

#carousel-container {
  display: flex;
  height: 500px;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 2rem;
  max-width: 750px;
  border: 15px solid #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 20px var(--primary-color);
  overflow: hidden;
  transform: rotate(-3deg);
  text-align: center;
}

.carousel-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 750px;
  text-align: center;
  color: var(--secondary-color);
}

.carousel-card h2,
.carousel-card h5,
.carousel-card p {
  position: absolute;
  text-align: left;
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color),
    -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

.carousel-card h2 {
  font-size: 2rem;
  bottom: 7rem;
  left: 1rem;
}

.carousel-card h5 {
  font-size: 1rem;
  bottom: 1.5rem;
  right: 3rem;
}

.carousel-card p {
  font-weight: 900;
  bottom: 4rem;
  left: 1rem;
  width: 90%;
}

.carousel-card img {
  filter: blur(1px) brightness(0.7);
}

.carousel-button {
  cursor: pointer;
  font-weight: 900;
  position: absolute;
  padding: 0.4em 1em;
  font-size: 1.1em;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  bottom: 1rem;
}

.carousel-button.code {
  left: 1rem;
}

.carousel-button.demo {
  left: 8rem;
}

.carousel-button.code:hover,
.carousel-button.demo:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#main-container {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.dark {
  --primary-color: rgb(242, 242, 242);
  --secondary-color: rgb(51, 51, 51);
}

header {
  width: 100%;
  display: flex;
  justify-content: end;
}

#header-controls {
  display: flex;
  padding: 3rem;
  position: fixed;
  z-index: 1;
}

#up,
#theme {
  font-size: 2rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: 1s;
  text-shadow: 0 0 1px var(--secondary-color);
  filter: opacity(0.9);
}

#up:hover,
#theme:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

#home {
  cursor: pointer;
}

#insertion {
  animation: blink 1s linear infinite;
}

@media screen and (max-width: 1536px) {
  /* 2xl */
  .intro-container {
    width: 100%;
    padding: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  /* lg */
  .intro-container h1 {
    font-size: 3rem;
  }

  .skills-container {
    color: var(--primary-color);
  }

  #prevBtn {
    left: 0.5rem;
    top: 50%;
  }

  #nextBtn {
    right: 0.5rem;
    top: 50%;
  }

  #carousel-container {
    transform: none;
    border: 3px solid #fff;
    margin-inline: 3rem;
  }

  .carousel-card h5 {
    right: 6rem;
  }

  .carousel-card p {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  /* sm */
  .intro-container {
    padding: 1rem;
  }

  .skills-container {
    max-width: 100%;
    justify-content: space-around;
    color: var(--primary-color);
  }

  .skills-container .skill {
    padding: 0 0.5rem;
  }

  #front-end-row,
  #back-end-row,
  #misc-row {
    max-width: 100%;
    margin-top: 10px;
    margin: 0px;
  }

  #front-end-row img,
  #back-end-row img,
  #misc-row img {
    width: 5rem;
    height: 5rem;
  }

  .projects h1,
  .contact h1,
  .skills h1 {
    width: 100%;
  }

  .email a {
    font-size: 30px;
  }
  .email h4 {
    right: 150px;
  }

  .carousel-card img {
    position: absolute;
    left: 0;
    top: 0;
    transform: none;
    -webkit-transform: translateY(0) translateX(-20%);
  }

  .carousel-card h2 {
    bottom: 25rem;
  }
  .carousel-card h5 {
    bottom: 9rem;
    left: 1rem;
    width: 40%;
  }

  .carousel-card p {
    width: 40%;
  }
}

/* CSS functions */

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(3) translateY(0) rotate(0);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes blink {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
}
