@import "https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap";
@import "https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap";

:root {
  --primary-color: rgb(242, 242, 242);
  --secondary-color: rgb(51, 51, 51);
  --font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

#main-container {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.light {
  --primary-color: rgb(51, 51, 51);
  --secondary-color: rgb(242, 242, 242);
}

/* Nav section */

header {
  width: 100%;
  display: flex;
  justify-content: end;
}

#header-controls {
  display: flex;
  padding: 3rem;
  gap: 1rem;
  position: fixed;
  z-index: 1;
}

#up-icon,
#theme-icon {
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: 1s;
  filter: drop-shadow(0 0 1px var(--secondary-color));
}

#up-icon:hover,
#theme-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Intro section */

#intro-bg div {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  background-color: var(--primary-color);
}

.intro {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(var(--primary-color) 0%, var(--secondary-color) 100%);
}

.intro-container {
  max-width: 800px;
  padding: 5rem;
}

.intro-container h1 {
  font-size: 4rem;
  font-family: "Fredoka One";
  margin-bottom: 1rem;
}

#insertion {
  animation: blink 1s linear infinite;
}

#bio {
  opacity: 0;
  transition: 1s;
  line-height: 2rem;
  font-size: 1.1rem;
  text-align: justify;
}

#bio.show {
  opacity: 1;
}

#profile-pic {
  height: 10rem;
  width: 10rem;
  border-radius: 15px;
  filter: brightness(0.9);
  transition: 1.5s;
  opacity: 0;
  float: right;
  margin-left: 1rem;
}

#profile-pic.show {
  opacity: 0.9;
}

#profile-pic:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

/* Skills section */

.skills-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  color: var(--secondary-color);
  transition: 1s;
}

.skills-container:hover {
  transition: 1s;
  color: var(--primary-color);
}

.skills-container img {
  border: 1px solid var(--primary-color);
  background-color: #fff;
  border-radius: 50px;
  width: 5rem;
  padding: 0.5rem;
  height: 5rem;
  transition: 1s;
  filter: grayscale(100%);
}

.skills-container img:hover {
  transform: scale(1.5) rotate(5deg) translate(0px, -10px);
  filter: grayscale(0%);
  box-shadow: 0px 0px 5px var(--primary-color);
  transition: 0.3s ease-in-out;
}

#front-end-row,
#back-end-row,
#misc-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#front-end-row img {
  width: 6rem;
  height: 6rem;
}

.skills-container .skill {
  padding: 0.5rem 1rem;
}

/* Projects section */

.big-project-row {
  color: var(--primary-color);
  margin: 3rem auto 0;
  display: grid;
  padding: 0 1rem;
  width: 100%;
  max-width: 1280px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.medium-project-row {
  color: var(--primary-color);
  margin: 3rem auto 0;
  display: grid;
  padding: 0 1rem;
  width: 100%;
  max-width: 1280px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.small-project-row {
  color: var(--primary-color);
  margin: 3rem auto 0;
  display: grid;
  padding: 0 1rem;
  width: 100%;
  max-width: 1280px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.project-card {
  margin: 0 auto;
  border-radius: 15px;
  border: 5px solid var(--primary-color);
  position: relative;
  width: 100%;
  background: var(--primary-color);
}

.project-card-header {
  display: grid;
  padding: 0.5rem;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; /* !keep! hides box-shadow in .project-card-text */
}

.project-card-img {
  display: flex;
  width: 100%;
  height: auto;
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 1px solid var(--secondary-color);
}

.project-card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 45%;
  gap: 1rem;
  padding: 0rem 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 2rem 2rem var(--primary-color);
}

.project-card-img,
.project-card-text {
  grid-area: 1 / 1 / -1 / -1;
  position: relative;
}

.project-card-text h3 {
  font-size: 1.5rem;
  line-height: 1;
}

.project-card-text h5 {
  margin-bottom: 3rem;
}

.project-card-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 1.1rem;
  position: absolute;
  bottom: 0px;
  padding: 1rem;
}

.project-card-button {
  cursor: pointer;
  font-weight: bold;
  color: var(--secondary-color);
  padding: 5px;
}

.project-card-button:hover {
  transform: scale(1.1);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secondary-color);
}

/* Contact section */

.contact-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vh;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.resume a {
  font-size: 11.25rem;
}
.resume a:hover {
  animation: shake 0.5s;
}

.resume h4 {
  position: relative;
  transform: rotate(-15deg);
  right: 5rem;
  top: 0.5rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 2px 2px 1px var(--primary-color);
}

.all-contact-buttons {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.all-contact-buttons li {
  list-style: none;
  font-size: 3.5rem;
}

.all-contact-buttons li a:hover {
  filter: brightness(0.9);
}

.contact,
.projects,
.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.projects h1,
.contact h1 {
  margin-top: 7rem;
}

.projects h1,
.contact h1,
.skills h1 {
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 2px var(--primary-color);
  width: 50%;
}

.projects h1:before,
.contact h1:before,
.skills h1:before,
.projects h1:after,
.contact h1:after,
.skills h1:after {
  align-self: center;
  content: "";
  border-top: 2px solid;
  margin-inline: 2rem;
  flex: 1 0 10px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

hr {
  background-color: var(--primary-color);
  color: var(--primary-color);
  box-shadow: 0px 0px 2px var(--primary-color);
  height: 2px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  width: 50%;
  margin: 2rem auto 0 auto;
  border-radius: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

/* Media queries */

@media screen and (max-width: 1024px) {
  /* lg */
  .skills-container {
    color: var(--primary-color);
  }

  .big-project-row,
  .medium-project-row,
  .small-project-row {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 640px) {
  /* sm */
  .intro-container {
    padding: 1rem;
  }

  .intro-container h1 {
    font-size: 3rem;
  }

  .skills-container {
    max-width: 100%;
    justify-content: space-around;
    color: var(--primary-color);
  }

  .skills-container .skill {
    padding: 0 0.5rem;
  }

  #front-end-row,
  #back-end-row,
  #misc-row {
    max-width: 100%;
    margin-top: 10px;
    margin: 0px;
  }

  #front-end-row img,
  #back-end-row img,
  #misc-row img {
    width: 5rem;
    height: 5rem;
  }

  .projects h1,
  .contact h1,
  .skills h1 {
    width: 100%;
  }

  .big-project-row,
  .medium-project-row,
  .small-project-row {
    grid-template-columns: 1fr;
  }

  .email a {
    font-size: 2rem;
  }
  .email h4 {
    right: 9rem;
  }
}

/* CSS functions */

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(3) translateY(0) rotate(0);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@keyframes blink {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
}
