@media screen and (max-width: 1480px) {
  .links {
    display: grid;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .links {
    display: grid;
    margin-right: 2rem;
  }
  .projects-github {
    margin-left: 0px;
  }
}
@media screen and (max-width: 900px) {
  .links {
    display: grid;
  }
  #prevBtn {
    left: 0px;
  }
  #nextBtn {
    right: 1px;
  }
  .left {
    max-width: 100%;
  }
  .right {
    max-width: 100%;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .intro {
    h1 {
      font-size: 50px;
      word-wrap: break-word;
    }
  }
  .links {
    justify-content: space-around !important;
    font-size: 80%;
    max-width: 100%;
  }
  .about-container {
    width: 100%;
  }
  .about {
    p {
      width: 100%;
    }
  }
  .skills {
    h1 {
      width: 70%;
      margin-left: 1rem;
    }
  }
  .projects {
    h1 {
      width: 70%;
      margin-left: 1rem;
    }
  }
  .contact-buttons {
    li {
      margin: 2rem;
    }
  }
  .skills-container {
    max-width: 100%;
    justify-content: space-around;
  }
  .front-end-card {
    max-width: 100%;
    margin-top: 10px;
    margin: 0px;
  }
  .back-end-card {
    justify-content: center;
    max-width: 100%;
  }
  .back-end {
    h3 {
      margin-top: 30px;
    }
  }
  .miscellaneous {
    max-width: 100%;
  }
  .miscellaneous-card {
    justify-content: center;
    align-items: center;
    margin: 0px;
    max-width: 100%;
  }
  .email {
    a {
      font-size: 30px;
    }
    h4 {
      right: 150px;
    }
  }
  .right {
    h4 {
      min-width: 115px;
    }
  }
  .carousel-card {
    h2 {
      bottom: 25rem;
    }

    h5 {
      bottom: 22rem;
    }

    p {
      width: 35%;
    }
  }
  .end {
    margin: auto;
    width: 80%;
  }
}
