@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

:root {
  --primary-color: rgb(51, 51, 51);
  --secondary-color: rgb(255, 255, 255);
  --font-family: 'Rubik', sans-serif;
}

.container {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.theme {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(51, 51, 51);
  --theme-color: linear-gradient(to right, rgb(67, 67, 67) 0%, #000 100%);
}

/* HOME BUTTON */

.logo {
  font-size: 1.6rem;
  background-color: transparent;
  position: fixed;
  margin: 29px 40px;
  cursor: pointer;
  transition: 1s;
  z-index: 15;
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/* NAV BAR OPEN */

.toggle {
  right: 0;
  margin: 23px 40px;
  font-size: 2.5rem;
  background-color: transparent;
  position: fixed;
  cursor: pointer;
  transition: 0.5s;
  z-index: 15;
}

.toggle:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 20;
  background-color: var(--secondary-color);
  transition: 1s;
  box-shadow: 1px 1px 6px var(--primary-color);
  filter: opacity(95%);
}

/* NAV BAR */

.navigation ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul li a:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 3px var(--primary-color);
}

.links {
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17% 5% 5%;
  align-items: center;
  justify-content: end;
  margin-top: 3vh;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

#contact {
  display: flex;
  align-self: flex-start !important;
}

#theme-toggle {
  cursor: pointer;
  font-size: 1.8rem;
  float: right;
}

#theme-toggle:hover {
  color: var(--secondary-color);
  text-shadow: 0px 0px 3px var(--primary-color);
}

#home {
  cursor: pointer;
}

/* NAV BAR CLOSE */

.navigation.close {
  transform: translate(100%);
  transition: 0.3s;
}

.fa-times {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 30px;
}

.fa-times:hover {
  transform: scale(1.1);
}

/* INTRO SETUP */

.intro {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
  box-shadow: 0px 0px 5px var(--primary-color);
}

.intro h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5rem;
  font-family: 'Fredoka One', cursive;
}

.box div {
  position: absolute;
  width: 62px;
  height: 62px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--primary-color);
}
.greeting {
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.2) translateY(-50px) rotate(0);
    opacity: 0;
  }
}

/* ABOUT SECTION  */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 13vh;
  box-shadow: 2px 2px 20px var(--primary-color);
}

.about-container {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  width: 30rem;
  align-items: center;
  justify-content: center;
  padding: 22px 0px;
  box-shadow: 0px 0px 15px var(--primary-color);
  transition: 0.5s;
  z-index: 1;
}

.about-container:hover {
  transform: translateY(-10px);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: 1.5s;
}

.about h1 {
  display: flex;
  align-self: center;
  justify-content: center;
  text-shadow: 0px 0px 2px var(--primary-color);
}

.about h1:before,
.about h1:after {
  align-self: center;
  content: '';
  border-top: 2px solid;
  margin: 0 10px 0 0;
  flex: 1 0 30px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

.about h1:after {
  margin: 0 0 0 10px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

.about p {
  padding: 40px 30px;
  width: 30rem;
  line-height: 25px;
  font-weight: 1000;
  text-align: justify;
}

#profile-pic {
  margin-top: 3vh;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  box-shadow: 1px 1px 15px var(--primary-color);
  transition: 1s;
}

#profile-pic:hover {
  cursor: pointer;
  transform: scale(1.2) rotate(360deg);
  transition: 1s;
}

#language {
  text-shadow: 0px 0px 2px var(--primary-color);
}

/* TOOLS AND SKILLS */
#skills-section {
  border: 1px solid var(--secondary-color);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.skills-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.skills-container div img {
  border: 1px solid var(--primary-color);
  background-color: #fff;
  border-radius: 50px;
  width: 4rem;
  padding: 5px;
}

.skills h1 {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  text-shadow: 0px 0px 2px var(--primary-color);
  width: 300px;
  margin-left: 5rem;
}

.skills h1:after {
  align-self: center;
  content: '';
  border-top: 2px solid;
  margin: 0 10px 0 0;
  flex: 1 0 30px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

.skills h1:after {
  margin: 0 0 0 10px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

#skills-section img {
  height: 65px;
  transition: 1s;
  filter: grayscale(100%);
}

#skills-section img:hover {
  transform: scale(1.7) rotate(5deg) translate(0px, -10px);
  filter: grayscale(0%);
  box-shadow: 0px 0px 15px var(--primary-color);
  transition: 1s;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  text-shadow: 0px 0px 2px var(--primary-color);
}

.front-end-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 25rem;
  padding: 50px;
  margin: 4rem;
  box-shadow: 0px 0px 15px var(--primary-color);
  border-radius: 5px;
  transition: 1s;
  color: var(--secondary-color);
}

.front-end-card:hover {
  box-shadow: none !important;
  transition: 1s;
  color: var(--primary-color);
}

.back-end-card {
  display: grid;
  padding: 50px 80px;
  margin: 4rem;
  box-shadow: 0px 0px 15px var(--primary-color);
  border-radius: 5px;
  transition: 1s;
  color: var(--secondary-color);
}

.back-end-card:hover {
  box-shadow: none !important;
  transition: 1s;
  color: var(--primary-color);
}

.miscellaneous-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 25rem;
  padding: 50px;
  margin: 4rem;
  box-shadow: 0px 0px 15px var(--primary-color);
  border-radius: 5px;
  transition: 1s;
  color: var(--secondary-color);
}

.miscellaneous-card:hover {
  box-shadow: none !important;
  transition: 1s;
  color: var(--primary-color);
}

/* PROJECTS */

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 12rem;
  box-shadow: 2px 2px 20px var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.split {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  justify-content: center;
}

.carousel-buttons {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  position: relative;
  max-width: 100%;
}

.carousel-container {
  display: flex;
  margin-left: 1rem;
  margin-right: 2rem;
  margin-top: 2rem;
  max-width: 750px;
  border: 15px solid #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 20px var(--primary-color);
  overflow: hidden;
  transform: rotate(-3deg);
  text-align: center;
}

.carousel img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}

.projects-github {
  margin-top: 50px;
  margin-left: 200px;
  width: 200px;
}

.projects-github p {
  font-size: 15px;
  text-shadow: 1px 1px 3px var(--primary-color);
  transform: rotate(15deg);
}

.projects-github i {
  margin: 80px;
  transform: scale(8) rotate(5deg);
  text-shadow: 1px 1px 20px var(--primary-color);
  cursor: pointer;
  transition: 0.5s;
}

.projects-github i:hover {
  transform: scale(11);
  text-shadow: 1px 1px 3px var(--primary-color);
  transition: 0.5s;
}

.carousel {
  display: flex;
  height: 500px;
}

#prevBtn {
  position: absolute;
  top: 55%;
  left: -5%;
  z-index: 19;
  font-size: 50px;
  color: var(--primary-color);
  cursor: pointer;
  transform: rotate(-3deg);
}

#nextBtn {
  position: absolute;
  right: -3%;
  top: 44%;
  z-index: 19;
  font-size: 50px;
  color: var(--primary-color);
  cursor: pointer;
  transform: rotate(-3deg);
}

#prevBtn:hover,
#nextBtn:hover {
  text-shadow: 0px 0px 5px var(--primary-color);
}

.projects h1 {
  margin-top: 2rem;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  text-shadow: 0px 0px 2px var(--primary-color);
  width: 300px;
  margin-left: 5rem;
}

.projects h1:after {
  align-self: center;
  content: '';
  border-top: 2px solid;
  margin: 0 10px 0 0;
  flex: 1 0 30px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

.projects h1:after {
  margin: 0 0 0 10px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

/* CONTACT */

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10.5rem;
}

.left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 90%;
}

.right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.contact h1 {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 2px var(--primary-color);
  width: 50%;
}

.contact h1:before,
.contact h1:after {
  align-self: center;
  content: '';
  border-top: 2px solid;
  margin: 0 30px 0 0;
  flex: 1 0 10px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

.contact h1:after {
  margin: 0 0 0 30px;
  box-shadow: 0px 0px 2px var(--primary-color);
}

.email {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.email a {
  font-size: 41px;
  font-weight: bold;
  transition: 0.1s;
}

.email a:hover {
  animation: shake 0.1s;
  transition: 0.1s;
}

.email h4 {
  position: relative;
  transform: rotate(-15deg);
  right: 200px;
  top: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 2px 2px 1px var(--primary-color);
}

.resume {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.resume a {
  font-size: 180px;
}

.resume a:hover {
  animation: shake 0.5s;
}

.resume h4 {
  position: relative;
  transform: rotate(-15deg);
  right: 80px;
  top: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 2px 2px 1px var(--primary-color);
}

.all-contact-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.contact-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5rem;
}

.contact-buttons li {
  transition: 0.4s;
}

.contact-buttons li:hover {
  text-shadow: 1px 1px 2px var(--primary-color);
  transition: 0.5s;
}

.all-contact-buttons li {
  list-style: none;
  font-size: 55px;
}

.right h4 {
  position: relative;
  transform: rotate(-15deg);
  right: 70px;
  top: 7px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 2px 2px 1px var(--primary-color);
}

.fa-github-square {
  font-size: 150px;
  transition: 0.5s;
}

.fa-github-square:hover {
  text-shadow: 1px 1px 5px var(--primary-color);
  transition: 0.5s;
}

/* FOOTER */

hr {
  background-color: var(--primary-color);
  color: var(--primary-color);
  box-shadow: 0px 0px 3px var(--primary-color);
  height: 3px;
  border: 1px solid (var(--primary-color));
  border-radius: 10px;
  width: 90%;
  display: flex;
  margin-left: 5%;
  border-radius: 5px;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

.end span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
}

.button-up {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 9rem;
  font-size: 50px;
  transition: 0.5s;
}

.button-up:hover {
  transform: translateY(-20%) scale(1.5);
  text-shadow: 0px 0px 5px var(--primary-color);
  border-radius: 50%;
  transition: 1s;
}

/* KEYFRAMES */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1480px) {
  .links {
    display: grid;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .links {
    display: grid;
    margin-right: 2rem;
  }

  .projects-github {
    margin-left: 0px;
  }
}

@media screen and (max-width: 900px) {
  .links {
    display: grid;
    margin-right: 3rem;
  }
  #prevBtn {
    left: 0px;
  }

  #nextBtn {
    right: 1px;
  }

  .left {
    max-width: 100%;
  }

  .right {
    max-width: 100%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .intro h1 {
    font-size: 50px;
    word-wrap: break-word;
  }

  .about-container {
    width: 100%;
  }

  .about p {
    width: 100%;
  }
  .links {
    display: grid;
    justify-content: space-evenly;
    margin-right: 4rem;
  }

  .links li {
    margin-right: 1rem;
  }

  .contact-buttons li {
    margin: 2rem;
  }

  .skills-container {
    justify-content: space-around;
  }

  .front-end-card {
    max-width: 100%;
    margin-top: 10px;
    margin: 0px;
  }

  .back-end h3 {
    margin-top: 30px;
  }
  .miscellaneous {
    max-width: 100%;
  }

  .miscellaneous-card {
    justify-content: center;
    align-items: center;
    margin: 0px;
    max-width: 100%;
  }
}
